body {
  background-image: url(./img/Art3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
body .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .calculator-body {
  width: 334px;
  height: 540px;
  border-radius: 30px;
  background-color: #3a4452;
  padding: 0 20px 30px 20px;
}
body .container .calculator-body .calculator-form {
  margin-top: 50px;
}
body .container .calculator-body .calculator-form .calculator-display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
body .container .calculator-body .calculator-form .calculator-display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
body .container .calculator-body .calculator-form input {
  border: none;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 25px;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  background: transparent;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
body .container .calculator-body .calculator-form input:hover {
  filter: brightness(160%);
}
body .container .calculator-body .calculator-form .calculator-equal {
  width: 145px;
  color: aqua;
}
body .container .calculator-body .calculator-form .calculator-operator {
  color: aqua;
}/*# sourceMappingURL=index.css.map */